{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"># of Guests</th>
            <th scope="col">Response</th>
            <th scope="col">Message</th>
            <!-- <th scope="col">Actions</th> -->
        </tr>
    </thead>
    <tbody>
        {% for guest in guests %}
        <tr>
            <th scope="row">{{guest.id}}</th>
            <td>{{guest.first_name}} {{guest.last_name}}</td>
            <td>{{guest.email}}</td>
            <td>{{guest.number_of_guests}}</td>
            <td>
                {% if guest.attending == 1 %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>{{guest.message}}</td>
            <!-- <td><a href="/delete/{{guest.id}}">Delete</a></td> -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}