{% extends "base.html" %}
{% block content %}
<h1 class="mb-5 display-3">Wedding Details</h1>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class = "display-4">Ceremony</h2>
    <p><em>June 11th, 1:30PM</em></p><br>
    <div class="details container d-flex justify-content-center align-items-center">
        <div class="container d-flex flex-wrap justify-content-center align-items-center gap-2">
            <img class="img-fluid details-img" src="{{url_for('static', filename='images/st_ignatius_small.jpg')}}"
                alt="St. Ignatius Church 1">
            <img class="img-fluid details-img" id="inside-church" src="{{url_for('static', filename='images/inside_church.jpg')}}"
                alt="St. Ignatius Church 2">
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center g">
            <a class="d-flex flex-column justify-content-center align-items-center g-0"
                href="https://www.google.com/maps/place/St+Ignatius+of+Antioch+Roman+Catholic+Church/@28.14676,-82.745039,15z/data=!4m5!3m4!1s0x0:0xd4c6e2d11074c4bc!8m2!3d28.1467595!4d-82.7448791?hl=en-US">
                <p class = "text-overflow-center">St. Ignatius of Antioch Catholic Church</p>
                <p class = "text-overflow-center">715 E Orange St</p>
                <p class = "text-overflow-center">Tarpon Springs, FL 34689</p>
            </a>
            <iframe class="embed-responsive-item mt-3 fill-img" style="border:0" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ2w8h7QyNwogRvMR0ENHixtQ&key={{config['GOOGLE_MAPS_KEY']}}">
            </iframe>
        </div>

    </div>

</div>
<br>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h2 class = "display-4 mt-5">Reception</h2>
    <p><em>June 11th, 4:30PM</em></p>
    <div class="details container d-flex justify-content-center align-items-center">
        <div class="container d-flex flex-wrap justify-content-center align-items-center gap-2">
            <img class="img-fluid details-img" src="{{url_for('static', filename='images/holiday_inn_sunset.jpg')}}"
                alt="Holiday Inn 1">
            <img class="img-fluid details-img" id="key_west_room" src="{{url_for('static', filename='images/key_west_room.jpg')}}"
                alt="Holiday Inn 2">
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center gap-3">
            <a class="d-flex flex-column justify-content-center align-items-center g-0"
                href="https://www.google.com/maps/place/Holiday+Inn+%26+Suites+Clearwater+Beach+S-Harbourside,+an+IHG+Hotel/@27.8828935,-82.8497771,17z/data=!3m1!4b1!4m8!3m7!1s0x88c2f9a12797e683:0xc044fea993ad3708!5m2!4m1!1i2!8m2!3d27.8828888!4d-82.8475884?hl=en-US">
                <p class = "text-overflow-center">Holiday Inn Harbourside</p>
                <p class = "text-overflow-center">401 2nd St</p>
                <p class = "text-overflow-center">Indian Rocks Beach, FL 33785</p>

            </a>
            <iframe class="embed-responsive-item" style="border:0" loading="lazy" allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJg-aXJ6H5wogRCDetk6n-RMA&key={{config['GOOGLE_MAPS_KEY']}}"></iframe>
        </div>
    </div>
</div>
{% endblock %}