{% extends "base.html" %}
{% block content %}
<h1 class = "text-overflow-center" id = "home">Nick & Nicole are getting Married!</h1>
<div class="container d-flex justify-content-center index">
        <img class="img-fluid home-img fill-img" src="{{url_for('static', filename='images/good_photo1final.avif')}}"
                alt="engagement photo 1">
</div>
<div class="container d-flex flex-column justify-content-center align-items-center">
        <p class="p-3 text-overflow-center index">Welcome to our website! We are so excited to celebrate our marriage with our beloved guests.</p>
        
        <p class="p-3 text-overflow-center index">Please click the links at the top of the page for further information about the location and
                logistical
                details of our wedding on</p>
                <p class="p-3 text-overflow-center index">June 11th, 2022.</p>
        <footer>
                <p class = "mt-1">This website was coded by the groom himself!</p>
        </footer>
</div>
{% endblock %}