{% extends "base.html" %}
{% block content %}
        <h1>Nick and Nicole are getting Married!</h1>
        <img src="" alt="engagement photo">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <p>Welcome to our website! We are so excited to celebrate our marriage with our beloved guests.</p><br>
            <p>Please click the links at the top of the page for further information about the location and logistical
                details of our wedding. Also please click the link to RSVP if you have not done so already!</p>
        </div>
{% endblock %}