{% extends "base.html" %}
{% block content %}
<h1 class = "display-4 text-overflow-center">Nick & Nicole are getting Married!</h1>
<div class="container d-flex justify-content-center">
        <img class="img-fluid home-img" src="{{url_for('static', filename='images/good_photo1.jpg')}}"
                alt="engagement photo 1">
        <!-- <img class="img-fluid home-img" src="{{url_for('static', filename='images/good_photo2.jpg')}}"
                alt="engagement photo 2"> -->
        <!-- <img class="img-fluid home-img" src="{{url_for('static', filename='images/good_photo3.jpg')}}"
                alt="engagement photo 3"> -->
</div>
<div class="container d-flex flex-column justify-content-center align-items-center">
        <p class="p-3">Welcome to our website! We are so excited to celebrate our marriage with our beloved guests.</p>
        
        <p class="p-3">Please click the links at the top of the page for further information about the location and
                logistical
                details of our wedding on June 11th, 2022.</p>
        <footer>
                <p>This website was coded by the groom himself!</p>
        </footer>
</div>
{% endblock %}