<nav class="">
    <div class="container-fluid">
        <div class="d-flex justify-content-center container" id="navbarNavAltMarkup">
            <div class="navbar d-flex justify-content-center align-items-center">
                <a class="nav-link anchor active" aria-current="page" href="{{ url_for('.index', _anchor='home') }}">Home</a>
                <a class="nav-link anchor" href="{{ url_for('.index', _anchor='story') }}">Our Story</a>
                <a class="nav-link anchor" href="{{ url_for('.index', _anchor='details') }}">Details</a>
                <a class="nav-link anchor" href="{{ url_for('.index', _anchor='accommodations') }}">Accommodations</a>
                <a class="nav-link anchor" href="{{ url_for('.index', _anchor='registry') }}">Registry</a>
                <a class="nav-link anchor" href="{{ url_for('.index', _anchor='rsvp') }}">RSVP</a>
            </div>
        </div>
    </div>
</nav>
