{% extends "base.html" %}
{% block content %}
<p>As Nick and Nicole are in their 30s, they already have most of the household items they need. They would love for you
    to consider contributing to their Honeymoon Fund!</p>

<p>For their Honeymoon, Nick and Nicole are going to <span>
        <h2 class = "text-success">Ireland!</h2>
    </span></p>
    <div class="details container d-flex justify-content-center align-items-center gap-2">

        <img src="../static/images/dublin_2.jpg" class="img-fluid registry-img-two" alt="Dublin">
        <img src="../static/images/cliffs_of_moher.jpg" class="img-fluid registry-img-two" alt="Cliffs of Moher">
    </div>
    
    <h3 class = "m-4">Please visit <a href="" class="honeyfund">our Honeyfund </a> if you would like to contribute.</h3>
    <div class="details container d-flex justify-content-center align-items-center gap-2">
        <img src="../static/images/dark_hedges.jpg" class="img-fluid registry-img-two" alt="Dark Hedges">
        <img src="../static/images/galway_1.jpg" class="img-fluid registry-img-two" alt="Galway">
    </div>

<p class="registry mt-5">They are also registered at Bed, Bath, & Beyond: <a
        href="https://www.bedbathandbeyond.com/store/giftregistry/viewregistryguest/551049181?selectedRLVFilters=_recommended">Click
        Here</a></p>
{% endblock %}