{% extends "base.html" %}
{% block content %}
        <h1 id="rsvp">RSVP</h1>
        <div class="container d-flex flex-column justify-content-center align-items-center p-2">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class = "text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="/guest_rsvp" class = "rsvp d-flex flex-column gap-1 text-overflow-center justify-content-center align-items-center" method = "POST">
                <div class="container">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                </div>
                <div class="container">
                    <label for="last_name rsvp">Last Name:</label>
                    <input type="text" name="last_name">
                </div>
                <div class="container">
                    <label for="email">Email Address:</label>
                    <input type="email" name="email">
                </div>
                <div class="container d-flex">
                    <div class="container d-flex justify-content-center align-items-center">
                        <input type="radio" name="attending" value = "accepts" checked="checked">
                        <label for="attending">Accepts</label>
                    </div>
                    <div class = "container d-flex justify-content-center align-items-center">
                        <input type="radio" name="attending" value = "declines">
                        <label for="attending">Regretfully declines</label>
                    </div>
                </div>
                <div class="container d-flex justify-content-center align-items-center gap-2">
                    <label for="number_of_guests">Total Number of Guests:</label>
                    <select name="number_of_guests">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="container">
                    <p>Leave us a message below! (optional)</p>
                    <textarea name="message"cols="30" rows="5"></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>

        </div>
{% endblock %}