{% extends "base.html" %}
{% block content %}
<h1 class = "m-2">Our Story</h1>
<div class="container gap-5 mt-3">
    
    <div class="container d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="container">
                <img class = "img-fluid" src="#" alt="cute pic 1">
            </div>
            <div class="container">
                <img class = "img-fluid"  src="#" alt="cute pic 2">
            </div>
        </div>
        <div class="container d-flex">
            <p>Here is our story, it is super freaking cute!</p>
        </div>
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <img class = "img-fluid" src="#" alt="cute pic 3">
            </div>
            <div class="container">
                <img class = "img-fluid" src="#" alt="cute pic 4">
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
        <img class = "img-fluid" src="#" alt="big picture here">
    </div>
</div>

{% endblock %}