/* body styles start */
body {
    background-color: lavender;
    background-image: url(images/waterfall_engagement.jpg),
                    url(images/proposal_photo.jpg);
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%;
}


.wrapper {
    background-color: white;
    opacity: .95;
}
/* body styles end */


/* Nav styles start */
nav {
    background-color: lavender;
}

.nav-link {
    color: rebeccapurple;
}

/* Nav styles end */

/* details styles start */
.details img {
    width: 100%;
    max-width: 30%;
    /* height: 100%; */
    /* max-height: 10%; */
}

.details iframe {
    width: 50%;
}
/* details styles end */

