@font-face {
    font-family: 'Lazy Dog';
    src: URL('./font/LazyDog.ttf') format('truetype');
    font-family: 'Metshige';
    src: URL('./font/metshige.TTF') format('truetype');
}


/* body styles start */
body {
    /* background-color: lavender; */
    background-image: url(images/trees_background_flipped.jpg);
    /* background-position: left top, left bottom; */
    /* background-repeat: no-repeat, no-repeat; */
    background-size: 100%;
}


.wrapper {
    background-color: #B1BCA0;
    opacity: .9125;
}
.card {
    background-color: #B1BCA0;
    opacity: .9125; 
    border: 0px;
}
.form-control {
    background-color: #B1BCA0;
    border: 1px #B1BCA0;
}
/* body styles end */

/* utility styles start */


hr{
    border: 5px solid rebeccapurple;
    width: 100%;
}
.g-0 p{
    margin: 0;
}

textarea {
    width: 100%;
}

.fill-img {
    min-width: 100%;
    min-height: 100%
}

.text-overflow-center {
    /* margin-left: -100%; */
    /* margin-right: -100%; */
    text-align: center;
}

a {
    color:lavenderblush;
}





/* utility styles end */
/* header styles start */


*{
    font-family: Lucida;
    font-size: 1.2vw;
}

@media screen and (max-width:800px) {
    *{
        font-size: 2.2vw;
    }
}

form .container label{
    font-size: 2vw;
}

h1{
    font-family: Lucida ;
}

h2{
    font-weight: bold;
}

/* header styles end */
/* Nav styles start */
nav {
    background-color: lavender;
}


.nav-link {
    color: rebeccapurple;
    font-size: 1rem;
}

/* Nav styles end */

/* details styles start */


.details-img {
    min-width: 100%;
    min-height: 100%;
}
.details iframe {
    width: 100%;
    min-height: 24vw;
    /* min-height: 100%; */
}



em {
    font-size: 2vw;
}

/* details styles end */


/* img styles */

/* .home-img{
    max-width: 40%;
    max-height: 10%;
} */

.family {
    max-width: 50%;
    /* max-height: 20%; */
}



.carousel-inner img {
    max-width: 40%;
    max-height: 20%;
}

#inside-church{
    max-width: 70%;
}
#key-west-room{
    max-width: 70%;
}


.great-heron img {
    max-width: 100%
}
/* img styles end */

/* text styles start */

.great-heron{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1vw;
}


.holiday-inn {
    font-size: 1.5rem;
    font-weight: bold;
}

footer>p{
    color: lavender;
    font-size:1rem;
}



.container label, p {
    font-size: 2.5vw;
}

@media screen and (min-width:801px) {
    .container p{
        font-size:2vw;
    }
}


/* text styles end */




/* story styles start */

.story-text p{
    /* text-indent: 5vw; */
    font-size: 1.5vw;
}

@media screen and (max-width:800px) {
    .story-text p{
        font-size: 2.5vw;
    }
}

.story{
    max-width: 30%;
    /* max-height: 50%; */
}

.heart {
    width:200px;
    background:
     radial-gradient(circle at 60% 65%, lavender 64%, transparent 65%) top left,
     radial-gradient(circle at 40% 65%, lavender 64%, transparent 65%) top right,
     linear-gradient(to bottom left, lavender 43%,transparent 43%) bottom left ,
     linear-gradient(to bottom right,lavender 43%,transparent 43%) bottom right;
    background-size:50% 50%;
    background-repeat:no-repeat;
    display:inline-block;
}
.heart::before {
    content:"";
    display:block;
    padding-top:100%;
}



/* story styles end */



/* index styles start */




/* index styles end */


/* rsvp styles start */

.rsvp .container {
    padding:.8rem;
}

@media screen and (max-width:800px) {
    .rsvp,
    .rsvp label{
        font-size: 3vw;
    }
}

@media screen and (min-width:801px) {
    .index p {
        font-size: 2.5vw;
    }
    }
    .fill-img {
        max-height: 90%;
        max-width: 90%;
    }
    .rsvp,
    .rsvp.container label{
        font-size: 2vw;
    }

input[type=radio] {
            /* border: 0px; */
            width: 100%;
            height: 2vw;
        }

select {
            /* border: 0px; */
            width: 15%;
            height: 3vw;
            /* height: 100%; */
        }
/* rsvp styles end */

/* accomodations styles start */


.accomodations-img {
    max-width: 90%;
}

.smaller-text {
    font-size: 1.5vw;
}

.accomodations a{
    font-size: 2.5vw;
}
/* accomodations styles end */

/* registry styles start */

.registry a{
    font-size: 2.5vw;
}

/* registry styles end */

@media screen and (min-width:801px) {
    .index {
        font-size: 0;
    }
    
    .fill-img {
        max-height: 90%;
        max-width: 90%;
    }
}

@media screen and (max-width:800px) {
.index {
    font-size: 2.8vw;
}
}




html, body #map{
    margin: 0;
    padding: 0;
    height:25vw;
    width: 100%;
}

.hwfix {
    height:100%;
    width: 100%;
}